/* VARIABLE DECLARATIONS */
:root {
    --main-bg-color: #f7f2eb;
    --heading-font: 'Bebas Neue', cursive;
    --body-font: 'Barlow Condensed', sans-serif;
    --white-font-color: '#ddd';
    --white-link-hover: '#bbb';

    --chip-initial: #E1F0F4;
    --chip-under-1: #A5D2DF;
    --chip-under-2: #95CBDA;
    --chip-under-3: #86C4D5;
    --chip-under-4: #77BCCF;
    --chip-under-5: #68B5CA;
    --chip-over: #E3A1A1;
    --chip-perfect: #B3EFB2;
    --chip-run: #FFD65C;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--main-bg-color);
}

a:link {
    color: var(--white-font-color);
}
a:hover {
    text-decoration: none;
    color: var(--white-link-hover);
}

.body-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.page-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
}

.left-side {
    order: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.right-side {
    order: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 200px;
}

.center {
    display: flex;
    justify-content: center;
    order: 2;
    width: 100%;
    margin-top: 1em;
}

.left-gutter {
    order: 1;
    width: 10%;
}

.right-gutter {
    order: 3;
    width: 10%;
}

.content {
    order: 2;
}

.content .header {
    font-family: var(--heading-font);
    font-size: 3.25em;
    font-stretch: expanded;
    position: relative;
    top: -10px;
}

.content .game-container {
    /* border: 1px solid black; */
}

.content .game-footer {
    margin-top: 1em;
}

canvas {
    /* border: 1px solid orange;   */
    display: block;
}

#welcome {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

.welcome-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    text-align: center;
    font-family: var(--body-font);
    font-size: 1.25em;
    width: 80%;
    max-width: 500px;
}

.welcome-image {
    width: 100%;
    height: auto;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    max-width: 500px;
    text-align: center;
    font-family: var(--body-font);
    font-size: 1.25em;
}

.modal-header {
    font-family: var(--heading-font);
    font-size: 3em;
}

.modal-message {
    font-size: 1.5em;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

#twitter-btn {
    background: #1d9bf0;
    color: #fff;
    width: 150px;
    text-align: center;
    text-decoration: none;
    border-radius: 2rem;
    padding: 0.3rem 1.5rem;
    margin: 1rem auto 0px;
    font-size: 1.25rem;
}

.footer {
    /*position: fixed;*/
    /*left: 0;*/
    /*bottom: 0;*/
    width: 100%;
    display: flex;
    background-color: #333;
    color: rgb(197, 197, 197);
    justify-content: center;
    align-items: center;
    height: 3em;
    font-family: var(--body-font);
}

.footer-content {

}

@media screen and (max-width: 1000px){
    .left-side, .right-side {
        display: none;
    }
    .left-gutter, .right-gutter {
        display: none;
    }
}

@media screen and (max-width: 500px){
    .modal-content {
        width: 350px;
    }
}